global
  maxconn 128
  ssl-default-bind-options ssl-min-ver TLSv1.2
  ssl-default-server-options ssl-min-ver TLSv1.2
defaults
  timeout connect 5s
  timeout client 30s
  timeout server 30s
frontend shop
  mode http
  bind :8443 ssl crt /gateway/cert.pem ca-file /public/user-ca.pem crl-file /public/user.crl.pem verify required
  http-request del-header X-Cert-Identity
  http-request del-header X-Forwarded-For
  http-request del-header X-Forwarded-Proto
  http-request del-header Forwarded
  http-request set-header X-Cert-Identity %[ssl_c_s_dn(CN)]
  http-request deny deny_status 404 if { path_beg /internal /admin }
  default_backend landing
backend landing
  mode http
  server landing landing:8443 ssl verify required ca-file /public/server-ca.pem crt /gateway/client.pem verifyhost landing sni str(landing)
frontend authentication
  mode tcp
  bind :9443
  default_backend keycloak
backend keycloak
  mode tcp
  server keycloak keycloak:8443
